@import url(https://fonts.googleapis.com/css?family=Pacifico);

.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Link {
    text-decoration: none;
    color: black;
}

.header {
    flex: 0 0 15%;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


body {
    background-color: black;
    color: #fff;
}

#container {
    margin: 0 auto;
    max-width: 520px;
    text-align: center;
}

#container h1 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 0.3125em 0;
    background-color: #111111;
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

.style-1 {
    font-family: "Pacifico", sans-serif;
    text-transform: none !important;
}

.style-2 {
    font-family: "Open Sans Condensed", sans-serif;

}

.style-3 {
    font-family: "Oswald", sans-serif;
}

.style-1:before {
    content: "";
    height: 3px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    width: 300%;
    top: 50%;
    left: -100%;
    z-index: -999;
}

.style-2:before {
    content: "";
    height: 3px;
    border-top: 2px dotted white;
    border-bottom: 2px dotted white;
    position: absolute;
    width: 300%;
    top: 45%;
    left: -100%;
    z-index: -999;
}

.style-3:before {
    content: "";
    border-top: 1px solid white;
    position: absolute;
    width: 300%;
    top: 35%;
    left: -100%;
    z-index: -999;
}

.style-3:after {
    content: "";
    border-bottom: 1px solid white;
    position: absolute;
    width: 300%;
    bottom: 35%;
    left: -100%;
    z-index: -999;
}